<html>
	<head>
		<title>RedirectLogQ</title>
	</head>
	<body>
		<div class="default_header_class">Default RedirectLogQ Homepag<e/div>
		<div class="default_paragraph_class"> <!---->
			This is an independently operated server running RedirectLogQ. If you are seeing this then the operator of the server has not changed the homepage. For more information about RedirectLogQ you can view it on GitHub. Check it out at <a href="https://www.GitHub.com/Metruption/ReplaceLogQ">https://www.GitHub.com/Metruption/ReplaceLogQ</a>
		</div>
	</body>
</html>